@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');


:root{
    --azul-oscuro :  #070439;
    --azul-claro :  #585989;
    --azul :  #3065f8;
    --verde :  #3c9f8f;
    --blanco:  #f6f6fe;
    --plomo :  #bfbfbf;
    --font1 : 'Open Sans', sans-serif;
    --font2 : 'Raleway', sans-serif;
}
body {
    font-family: var(--font1);
}
.contenedor {
    padding: 25px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo {
    width: 80px;
}

.nav .enlace-box {
    display: inline-flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.nav .enlace-box a {
    text-decoration: none;
    color: var(--azul-oscuro);
    font-size: 13px;
}
.img {
    max-width: 100%;
}
.hero__texto{
    padding: 50px 15px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;  
    gap: 20px;
}
.texto {
    text-align: center;
}
.texto p {
    line-height: 20px;
    font-size: 14px;
}
.hero__texto .texto h1 {
    font-size: 1.4em;
    color: var(--azul-oscuro);
    font-weight: 700;
    line-height: 30px;    
}
.hero__texto .formulario {
    margin-top: 30px;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formulario [type="email"] {
    width: calc(100% - 15px);
    border-radius: 3px;
    border: 1px solid var(--azul-oscuro);
    padding: 8px 0;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
}
.formulario [type="email"]::placeholder {
    font-size: 13px;
    color: var(--plomo);
    font-weight: 400;
}
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: var(--blanco);
    font-family: var(--font2);
}
.btn-azul {
    background-color: var(--azul);
    font-size: 15px;
}
.section .contenedor{
    background-color: #f8f8fe;
}
.bg-img {
    vertical-align: middle;
}
.section__texto {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;  
}
.section:first-child .texto h2{
    font-size: 1em;
    font-family: var(--font2);
    margin-bottom: 25px;
    color: var(--azul-oscuro);
}
.section:first-child .texto p {
    text-align: left;
}
.texto-azul-oscuro{
    color: var(--azul-oscuro);
    line-height: 20px;
    font-size: 14px;
}
.texto-azul-claro {
    color: var(--azul-claro);
    line-height: 20px;
    font-size: 14px;
}
.enlace {
    color: var(--verde);
    border-bottom: 1px solid var(--verde);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    margin-top: 20px;
}
.card {
    border-radius: 5px;
    margin: 0 20px;
    font-family: var(--font2);
    font-size: 11px;
    padding: 20px;
    line-height: 20px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px #0002;
    color: var(--azul-oscuro);
    text-align: left;
    margin-top: 50px;
}
.card p {
    margin-top: 0;
    font-size: 11px;
}
.card-persona {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.card-persona img {
    border-radius: 100px;
    width: 30px;
}
.card-texto p:first-child {
    font-weight: bold;
    font-size: 13px;
}
.card-texto p:last-child {
    font-size: 8px;
}
.card-texto p {
    margin: 0;
}

.section:last-child .contenedor{
    background-color: var(--azul-claro);
    color: var(--blanco);
}
.section:last-child .section__texto{
    padding: 30px 20px;
}
.section:last-child .section__texto h2{ 
    margin: 0;
    font-size: 1em;
    font-family: var(--font2);
}
.section:last-child .formulario {
    margin: 0 30px;
}
.section:last-child [type="email"] {
    border: none;
    box-shadow: 0px 0px 5px #0002;
    padding: 10px;
}
.section:last-child .btn {
    font-size: 12px;
}
.footer{
    background-color: var(--azul-oscuro);
}
.footer .contenedor {
    padding: 50px 40px;
    color: var(--blanco);
}
.footer__texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}
address p {
    display: inline-flex;
    gap: 20px;
    margin-top: 0;
}
.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.redes .fab{
    border: 1px solid var(--blanco);
    padding: 9px 10px;
    border-radius: 100px;
}